<!DOCTYPE html>
<html lang="pt-br">
<head>  
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=/, initial-scale=1.0">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="shortcut icon" type='image/png' href="../static/img/favcon.png"></a>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
    <title>Portfolio do Luben</title>
</head>
<body>
  
  <i class="bi-list menu-mobile"></i>

  <aside id="header">
    <section class="profile">
      <img src="../static/img/profiile.png"></img>
      <h1>Luan Bezerra</h1>
        <div class="social-links mt-3 text-center">
          <a target="_blank" href="https://www.linkedin.com/in/luan-bezerra-3b5291139/">
          <i class="bi bi-linkedin"></i>
         </a>
         <a target="_blank" href="https://github.com/Lubeen">
         <i class="bi bi-github"></i>
        </a>    
        </div>
    </section>
    <nav id="navbar" class="nav-menu">
      <ul class="nav flex-column">
        <li class="home-nav-item">
          <a class="nav-link active" href="#inicio"><i class="bi bi-house-fill"></i>Inicio</a>
        </li>
        <li class="sobre-nav-item">
          <a class="nav-link" href="#sobre"><i class="bi bi-person-fill"></i>Sobre</a>
        </li>
        <li class="habilidades-nav-item">
          <a class="nav-link" href="#habilidades"><i class="bi bi-list-check"></i>Habilidades</a>
        </li>
        <li class="curriculo-nav-item">
          <a class="nav-link" href="#curriculo"><i class="bi bi-file-earmark-word-fill"></i>Curriculo</a>
        </li>

        <li class="portfolio-nav-item">
          <a class="nav-link" href="#portfolio"><i class="bi bi-collection-fill"></i>Portfolio</a>
        </li>

        <li class="contato-nav-item">
          <a class="nav-link" href="#contato"><i class="bi bi-envelope-paper-fill"></i>Contato</a>
        </li>
      </ul>

    </nav>
  </aside>

  <main id="main">

    <section id="inicio" class="row m-0 p-0">
        <div class="col-md-5 d-flex justify-content-center align-items-center flex-column">
          <h2 class="text-white text-shadow">Luan Bezerra</h2>
          <span id="subtitle" class="text-white text-shadow">Estudante, com sede de conhecimento.</span>
        </div>

        <div class="col-md-7 d-flex justify-content-end align-items-end">
          <div id="arraste" class="d-flex align-items-center">

            <i class="bi bi-arrow-down text-white pe-2 fs-2"></i></i>
            <a href="#sobre">Arrasta para mais</a>
  
          </div>
        </div>
    </section>

    <section class="container mt-5" id="sobre">
      <div class="row w-100">
        <div class="col-md-12" data-anime="down">
          <h2 class="pt-3">Sobre</h2>
          <p> Sou apaixonado por tecnologia, acredito que com tecnologia nos podemos tornar o mundo um lugar melhor,
            sonha em viajar pelo mundo um dia, mas por enquanto sou vendedor de loja e nas horas livres aprendo sobre programacao 
          </p>
        </div>
      </div>

      <div class="row mt-4">
        <div class="col-md-4">
          <img class="img-fluid shadow" src="../static/img/profiile.png" alt="" data-anime="left">
        </div>
        <div class="col-md-8" data-anime="right">
          <h3>Estudante</h3>
          <p>Atualmente faço Analise de Sistemas online com provas presencias estou no 1 semestre da faculdade de 2 anos e meio, almejo conseguir minha primeira oportunidade na area de tecnologia </p>
          
          <div class="row mt-3 mb-3">
            <div class="col-md-6">
              <ul class="list-group list-group-flush fs-5">
                <li class="list-group-item">
                  Hobby:<span class="fw-lighter">
                    Ler</span>
                  </li>
                <li class="list-group-item"> Site: <a href="" class="fw-lighter text-decoration-none link-dark" >
                  linkthecode
                </a>
                </li>
                <li class="list-group-item" >
                  Trabalho: <a href="" class="fw-lighter text-decoration-none link-dark"> Trampo na gazin</a>
                </li>
                <li class="list-group-item">
                  Estado:<span class="fw-lighter">
                    Rondonia</span>
                </li>
              </ul>
            </div>
            <div class="col-md-6">
              <ul class="list-group list-group-flush fs-5">
                <li class="list-group-item">
                  Niver: <span class="fw-lighter">
                    21 de Fevereiro de 1999
                        </span>
                </li>
                <li class="list-group-item">
                  Idade: <span class="fw-lighter">
                    23 anos
                        </span>
                </li>
                <li class="list-group-item">
                  Cidade: <span class="fw-lighter">Porto velho
                        </span>
                </li>
                <li class="list-group-item">
                  Experiencia: <span class="fw-lighter">
                    Estudante
                        </span>
                </li>
              </ul>
              
            </div>
          </div>

          <p>
            Mais sobre mim
          </p>
      
        </div>
      </div>
    </section>

    <section class="mt-5 section-bg" id="habilidades">

      <div class="container pb-5" >
        <h2 class="pt-5" >Habilidades</h2>
        <p>Na maior parte do meu aprendizado estive buscando por conhecimento em todos os canais de conteudo na web, construi uma base na area e sigo em frente buscando aprender mais e mais </p>
        <div class="row">
          <div class="col-md-6"> 
            <p class="mt-3 mb-0">HTML</p>
            <div class="progress">
              <div class="progress-bar" data-anime="left" role="progress-bar" style="width: 85%;" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">85%</div>
            </div>
            <p class="mt-3 mb-0">CSS</p>
            <div class="progress">
              <div class="progress-bar" data-anime="left" role="progress-bar" style="width: 75%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">75%</div>
            </div>
            <p class="mt-3 mb-0">JAVASCRIPT</p>
            <div class="progress">
              <div class="progress-bar" data-anime="left" role="progress-bar" style="width: 45%;" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100">45%</div>
            </div>
            <p class="mt-3 mb-0">PYTHON</p>
            <div class="progress">
              <div class="progress-bar" data-anime="left" role="progress-bar" style="width: 95%;" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">95%</div>
            </div>
            <p class="mt-3 mb-0">LINUX</p>
            <div class="progress">
              <div class="progress-bar" data-anime="left" role="progress-bar" style="width: 85%;" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">85%</div>
            </div>
            <p class="mt-3 mb-0">GITHUB</p>
            <div class="progress">
              <div class="progress-bar" data-anime="left" role="progress-bar" style="width: 75%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">75%</div>
            </div>
      


          </div>
          <div class="col-md-6">
            <p class="mt-3 mb-0">GIT</p>
            <div class="progress">
              <div class="progress-bar" data-anime="left" role="progress-bar" style="width: 90%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">90%</div>
            </div>
            <p class="mt-3 mb-0">FLASK</p>
            <div class="progress">
              <div class="progress-bar" data-anime="left" role="progress-bar" style="width: 85%;" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">85%</div>
            </div>
            <p class="mt-3 mb-0">SQLALCHEMY</p>
            <div class="progress">
              <div class="progress-bar" data-anime="left" role="progress-bar" style="width: 75%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">75%</div>
            </div>
            <p class="mt-3 mb-0">DOCKER</p>
            <div class="progress">
              <div class="progress-bar" data-anime="left" role="progress-bar" style="width: 55%;" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100">55%</div>
            </div>
            <p class="mt-3 mb-0">SQL</p>
            <div class="progress">
              <div class="progress-bar" data-anime="left" role="progress-bar" style="width: 80%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">80%</div>
            </div>
            <p class="mt-3 mb-0">BOOTSTRAP</p>
            <div class="progress">
              <div class="progress-bar" data-anime="left" role="progress-bar" style="width: 65%;" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100">65%</div>
            </div>

          </div>

        </div>
        <hr class="w-50 me-auto ms-auto">
        <H2>Soft Skills</H2>
        <div class="row" data-anime="down">   
          <h4>
            Boa comunicaçao
          </h4>
          <p>Experiencia em ambientes coorporativos e boas praticas</p>
             <h4>
              Autodidatismo
            </h4>
            <p>Capacidade de aprender a analisar por diferentes angulos um problema e encontrar diferentes respostas para um mesmo problema</p>
            <h4>
             Perseveranca
            </h4>
            <p>Nunca achar que um problema nao tem solucao, jamais acreditar que nao consigo e me comparar com outros</p>
           <h4>
              Trabalho em equipe
            </h4>
            <p >Estar em uma empresa e saber que juntos nos podemos mais e que somos capazes de ir mais longe em quipe</p>

            <h4>Capacidade de trabalhar sobre pressao</h4>
            <p>Se tratando de metas nao podemos deixar nada para amanha, temos que fazer hoje!</p>
            </div>
            </div>
            
          </div>
          <div class="col-md-6">

          </div>
        </div>
      </div>
    </section>

    <section class="mt-5 cv" id="curriculo">

      <div class="container pb-5">
        <h2 class="pt-3 pb-4">Curriculo</h2>
        <div class="row">
          <div class="col-md-6">
              <h3 class="cv-title">Educacao</h3>
              <div class="cv-item" data-anime="up">
                  <h4>Ensino medio completo</h4>
                  <h5>2004-2017</h5>
                  <p><em>Escolas Publicas</em></p>
                  <p>Enquanto no ambiente escolar, participava de disciplinas avaliativas e provas semestrais</p>
              </div>
              <div class="cv-item" data-anime="up">
                <h4>Assistente Administrativo</h4>
                <h5>2019-2021</h5>
                <p><em>Senac</em></p>
                <p>Atualização de cadastros e arquivos, atendimento ao público e fornecedores, otimização dos processos logísticos</p>
              </div>
              <div class="cv-item" data-anime="up">
                <h4>analise de sistemas</h4>
                <h5>2022-2024</h5>
                <p><em>Faculdade Uniron</em></p>
                <p>Cursando 1 semestre de 5 semestres em analise de sistemas 100% ead com provas presenciais</p>
              </div>
          </div>
          <div class="col-md-6">
            <h3 class="cv-title">Profissional</h3>
            <div class="cv-item" data-anime="up">
              <h4>Assessor de clientes</h4>
              <h5>2017-2019</h5>
              <p><em>Lojas Avenidas</em></p>
              <p>Atendimento ao cliente, assistencia nas atividades gerais da empresa, atingindo metas, prospeccao e vendas</p>
            </div>
            <div class="cv-item" data-anime="up">
              <h4>Jovem aprendiz</h4>
              <h5>2019-2021</h5>
              <p><em>Gazin</em></p>
              <p>Receber e enviar correspondências e documentos, auxiliar em manter em dias as contas a pagar e receitas, atendimento ao cliente, otimização dos processos logísticos</p>
            </div>
            <div class="cv-item" data-anime="up">
              <h4>Vendedor</h4>
              <h5>2021-2022(atualmente)</h5>
              <p><em>Gazin</em></p>
              <p>atendimento direto ao consumidor, negociar os preços de uma mercadoria, os prazo, as condições de pagamento e os descontos dessa venda, visando maior lucro para empresa, orientar o cliente sobre as especificações dos produtos e/ou serviços, controlar a demanda dos pedidos em estoque e cumpre as meta de vendas.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="portfolio" class="section-bg mt-5">
      <div class="container pb-5 pt-5" data-anime="left" >
        <h2 class="pb-4">Portfolio</h2>

        <div id="carouselportfolio" class="carousel carousel-dark slide" data-bs-ride="carousel">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselportfolio" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselportfolio" data-bs-slide-to="1" aria-label="Slide 2"></button>
          </div>
     
          <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="10000">
              <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col">
                  <div class="card h-100">
                    <img src="..." class="card-img-top img-fluid w-100" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                      <div class="d-flex justify-content-center">
                        <a href="#" class="btn btn-outline-dark me-3"><i class="bi bi-github"></i> </a>
                          <a href="#" class="btn btn-outline-primary"><i class="bi bi-link-45deg"></i></a>
                       </div>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card h-100">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                      <div class="d-flex justify-content-center">
                        <a href="#" class="btn btn-outline-dark me-3"><i class="bi bi-github"></i> </a>
                          <a href="#" class="btn btn-outline-primary"><i class="bi bi-link-45deg"></i></a>
                  </div>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card h-100">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
                      <div class="d-flex justify-content-center">
                        <a href="#" class="btn btn-outline-dark me-3"><i class="bi bi-github"></i> </a>
                          <a href="#" class="btn btn-outline-primary"><i class="bi bi-link-45deg"></i></a>
                  </div>
                </div>
                    </div>
                  </div>
                </div>
            </div>
          <div class="carousel-item" data-bs-interval="2000">
              <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col">
                  <div class="card h-100">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                      <div class="d-flex justify-content-center">
                        <a href="#" class="btn btn-outline-dark me-3"><i class="bi bi-github"></i> </a>
                          <a href="#" class="btn btn-outline-primary"><i class="bi bi-link-45deg"></i></a>
                       </div>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card h-100">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                      <div class="d-flex justify-content-center">
                        <a href="#" class="btn btn-outline-dark me-3"><i class="bi bi-github"></i> </a>
                          <a href="#" class="btn btn-outline-primary"><i class="bi bi-link-45deg"></i></a>
                       </div>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card h-100">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                      <div class="d-flex justify-content-center">
                        <a href="#" class="btn btn-outline-dark me-3"><i class="bi bi-github"></i> </a>
                          <a href="#" class="btn btn-outline-primary"><i class="bi bi-link-45deg"></i></a>
                       </div>
                    </div>
                  </div>
                </div>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselportfolio" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselportfolio" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
      
      </section>
      <section class="pt-5 pb-5" id="contato">

        <div class="container mb-5">
          <h2 class="pt-3 pb-3">Contato</h2>
          <div class="row">
            <div class="col-md-5">
              <div class="card p-5 shadow border-0" data-anime="down">
                <div class="endereco">
                  <h4><i class="bi bi-geo-alt"></i> Localizacao:</h4>
                  <p>Porto Velho, Rondonia</p>
                </div>
                <div class="email">
                  <h4><i class="bi bi-envelope"></i> Email:</h4>
                  <p>luan.silvapvh@gmail.com</p>
                </div>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3943.3381848189865!2d-63.82268568569869!3d-8.754216493711771!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x92325b27ad4f9b5d%3A0x3bee9aec1abebfbc!2sRua%20Turmalina%20-%20Jardim%20Santana%2C%20Porto%20Velho%20-%20RO!5e0!3m2!1spt-BR!2sbr!4v1654905626334!5m2!1spt-BR!2sbr" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="w-100"></iframe>
              </div>
            </div>
            <div class="col-md-7 mt-5 mt-md-0">
              <div class="card p-5 h-100 shadow border-0" data-anime="left">
                <form class="row g-3" action="/send" method="POST">
                  <div class="col-md-6">
                    <label for="nome" class="form-label">Nome:</label>
                    <input type="text" class="form-control" id="nome" nome="nome" placeholder="Digite seu nome:" required>
                  </div>
                  <div class="col-md-6">
                    <label for="email" class="form-label">Email:</label>
                    <input type="email" class="form-control" id="email" nome="email" placeholder="Digite seu email:" required>
                  </div>
                  <div class="col-md-12">
                    <label for="mensagem" class="form-label">Mensagem:</label>
                    <textarea  rows="12" type="text" class="form-control" id="mensagem" placeholder="Digite sua mensagem" name="mensagem" required></textarea>
                
                  <div class="col-12 d-flex justify-content-center mt-4">
                    <button id="btn-enviar" type="submit" class="btn btn-primary">Enviar Mensagem</button>
                    <button id="btn-enviar-loader" class="btn btn-primary" type="button" disabled>
                      <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                      Enviando...
                    </button>
                  </div>                
                </form>
              </div>
            </div>
          </div>
        </div>
      </section>
      {% with messages = get_flashed_messages() %}
      {% if messages %}
      {% for message in messages %}
      <div id="alerta" class="alert alert-success alert-dismissible fade show" role="alert">
        <i class="bi bi-check-circle-fill"></i> {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      {% endfor %}
      {% endif %}
      {% endwith %}

  </main>

  <footer id="footer">
    <div class="container">
      <div class="text-center">
      &copy; Copyright <strong> Luben </strong>
      </div>
    </div>

  </footer>




  <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../static/script.js"></script>
</body>
</html>